.list-component {
  &__list {
    list-style: none;

    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 16px calc((1200px - (1050px)) / 2);
  }

  &__item {
    width: 350px;
  }
}